.flex-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: "Courier New", monospace;
    font-size: 2.5em;
}
.back-button {
    display: flex;
    justify-self: center;
    margin: 3rem;
    button {
        font-family: "Courier New", monospace;
        &:hover {
            cursor: pointer;
        }
    }
}
.flex-gamebox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #0b682a;
    width: 20em;
    height: 5em;
    justify-self: center;
    justify-content: center;
    .startgame-button {
        padding: 0;
        border: none;
        background: none;
        font-family: "Courier New", monospace;
        font-size: 1.5em;
        width: 100%;
        height: 100%;
        &:hover {
            background-color: #81d583;
            cursor: pointer;
        }
    }
}
