.flex-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-family: "Courier New", monospace;
    font-size: 2.5em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    font-family: "Courier New", monospace;
    font-size: 1em;
}
.flex-side {
    width: 30%;
    justify-self: center;
    justify-content: center;
    display: flex;
    .side-row {
        justify-self: center;
        .inside-row {
            justify-self: center;
        }
        .rules-text {
            justify-self: center;
            font-size: 10px;
        }
    }
}
.flex-center {
    width: 40%;
    justify-self: center;
    flex-direction: column;
    .center-row {
        justify-self: center;
        margin: 1em;
        padding: 0em;
    }
    .center-info {
        justify-self: center;
        font-size: 0.5em;
    }
}
.flex-container-bottom {
    display: flex;
    flex-direction: column;
    justify-self: center;
    .action-button {
        display: flex;
        justify-content: center;
    }
}
.card-button {
    padding: 0em;
    margin: 1em;
    border: none;
    background: none;
    height: 8.125rem;
    width: 6.5rem;
    position: relative;
    .tooltiptext {
    /* Position the tooltip */
        visibility: hidden;
        width: 120px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        /* Position the tooltip */
        position: relative;
        z-index: 0;
        top: 0%;
        left: -10%;
        display: inline;
        position: absolute;
        background-color: black;
        .enemy-tooltip {
            color: #f78e43;
        }
        .strong-enemy-tooltip {
            color: #e30000;
            font-weight: bold
        }
        .weak-enemy-tooltip {
            color: #dbdbdb;
        }
        .potion-tooltip {
            color: #73c783;
        }
        .weapon-tooltip {
            color: #c4c4c4;
        }
    }
    &:hover:enabled {
        cursor: pointer;
        .tooltiptext {
            visibility: visible;
        }
    }
}
.card-image {
    height: 8.125rem;
    width: 6.5rem;
}
.card-image-disabled {
    height: 8.125rem;
    width: 6.5rem;
    opacity: 0.5;
}
.scoundrel-button {
    font-family: "Courier New", monospace;
    background-color: #d39494;
    border: 1px solid #931212;
    height: 3em;
    width: 6em;
    &:hover:enabled {
        background-color: #d86c6c;
        cursor: pointer;
    }
}
.rules-button {
    font-family: "Courier New", monospace;
    background-color: #ebebeb;
    border: 1px solid #272727;
    height: 3em;
    width: 6em;
    &:hover:enabled {
        background-color: #fafafa;
        cursor: pointer;
    }
}
