.flex-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-family: "Courier New", monospace;
    font-size: 2.5em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    font-family: "Courier New", monospace;
    font-size: 1em;
}
.flex-side {
    width: 30%;
    justify-self: center;
    justify-content: center;
    display: flex;
    .side-row {
        justify-self: center;
        .inside-row {
            justify-self: center;
        }
        .rules-text {
            justify-self: center;
            font-size: 10px;
        }
    }
}
.flex-center {
    width: 40%;
    justify-self: center;
    flex-direction: column;
    .center-row {
        justify-self: center;
    }
    .center-info {
        justify-self: center;
        font-size: 0.5em;
    }
}
.flex-container-bottom {
    display: flex;
    flex-direction: column;
    justify-self: center;
    .action-button {
        display: flex;
        justify-content: center;
    }
}
.card-button {
    margin-top: 1em;
    padding: 0;
    border: none;
    background: none;
}
.card-image {
    height: 8.125rem;
    width: 6.5rem;
}
.card-image-disabled {
    height: 8.125rem;
    width: 6.5rem;
    opacity: 0.5;
}
.scoundrel-button {
    font-family: "Courier New", monospace;
    background-color: #d39494;
    border: 1px solid #931212;
    height: 3em;
    width: 6em;
    &:hover:enabled {
        background-color: #d86c6c;
        cursor: pointer;
    }
}
.rules-button {
    font-family: "Courier New", monospace;
    background-color: #ebebeb;
    border: 1px solid #272727;
    height: 3em;
    width: 6em;
    &:hover:enabled {
        background-color: #fafafa;
        cursor: pointer;
    }
}
