<div class="flex-title">scoundrel</div>

<div class="flex-container">
  <div class="flex-side">
    <div class="side-row">
      @if (cardsVisible) {
        <button class="card-button" [disabled]=true><img src="/disastergames/img/cardback.jpg" class="card-image"/></button>
        <p>deck: {{shuffledDeck.length-4}}</p>
      }
    </div>
  </div>
  <div class="flex-center">
    @if (youWin) {
      <div class="center-row">you win weee</div>
    }
    @if (youLose) {
      <div class="center-row">you lose wooo</div>
    }
    @if(shuffleVisible) {
      <div class="center-row"><button class="scoundrel-button" (click)="shuffleDeck()">Shuffle</button></div>
    }
    @if (cardsVisible) {
      <div class="center-row">hit points: {{hitPoints}}</div>
      <div class="center-row">
          <button (click)="playFirstCard(firstCard)" class="card-button" [disabled]="firstCard.disabled"><img src={{firstCard?.imgsrc}} class={{firstCard?.class}}/></button>
          <button (click)="playSecondCard(secondCard)" class="card-button" [disabled]="secondCard.disabled"><img src={{secondCard?.imgsrc}} class={{secondCard?.class}}/></button>
      </div>
      <div class="center-row">
          <button (click)="playThirdCard(thirdCard)" class="card-button" [disabled]="thirdCard.disabled"><img src={{thirdCard?.imgsrc}} class={{thirdCard?.class}}/></button>
          <button (click)="playFourthCard(fourthCard)" class="card-button" [disabled]="fourthCard.disabled"><img src={{fourthCard?.imgsrc}} class={{fourthCard?.class}}/></button>
      </div>
      <div>
        <p class="center-row">Weapon: {{weapon.name}}</p>
        <p class="center-row">Weapon active: <input type="checkbox" (click)="toggleWeapon()"></p>
        <p class="center-row">Last enemy: {{weapon.latestEnemyName}}</p>
      </div>
      <div class="center-row">
        <button class="scoundrel-button" (click)="runAway()" [disabled]="turn.unableToRun">Run</button>
      </div>
  }
  </div>
  <div class="flex-side">
    <div class="side-row">
      @if (cardsVisible) {
        <button class="card-button" [disabled]=true><img src="/disastergames/img/cardback.jpg" class="card-image"/></button>
        <p>discards: {{discards.length}}</p>
      }
    </div>
  </div>
</div>
